In [1]:
# Import the Pandas library
import pandas as pd

In [2]:
# Create a reference the CSV file desired

# Read the CSV into a Pandas DataFrame
df = pd.read_csv("Resources/CT_fires_2015.csv")
# Print the first five rows of data to the screen
df.head()

C:\Users\k\AppData\Local\Temp\ipykernel_10736\1683192406.py:4: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Resources/CT_fires_2015.csv")

,Reporting Year,Fire Department Header Key,Fire Department Name,Incident date,Incident Number,Exposure Number,Fire Department Station,Incident Type Code,Incident Type,Aid Given or Received Code,...,Mized Use Property Codes,Mixed Use Property,Property Use Code,Property Use,Incident Street Address,Incident Apartment Number,Incident City,Incident Zip Code,Census Tract,Location
0,2015,CT06240,WATERBURY FIRE DEPARTMENT,05/11/2015,6499.0,0,07,440,"Electrical wiring/equipment problem, other.",N,...,NaN,NaN,962.0,"Residential street, road, or residential drive...",GREENLEAF AVE,NaN,WATERBURY,06705,NaN,GREENLEAF AVE06705
1,2015,CT08180,THE TOWN OF SALEM,12/01/2015,24036.0,0,21,111,Building fire. Excludes confined fires (113–118).,3,...,NaN,NaN,NaN,NaN,Route 82,NaN,Salem,06420,NaN,Route 8206420
2,2015,CT08190,STONINGTON FIRE DEPT,09/07/2015,76.0,0,1,400,"Hazardous condition (no fire), other.",N,...,NaN,NaN,0.0,"Property use, other.",Bayview AVE,NaN,Stonington Borough,06378,NaN,Bayview AVE06378
3,2015,CT01012,RIVERTON VOLUNTEER FIRE DEPT,01/02/2015,1.0,0,1,444,Power line down. Excludes people trapped by do...,3,...,NaN,NaN,NaN,NaN,Wallens Hill1 RD,NaN,Riverton,06065,NaN,Wallens Hill1 RD06065
4,2015,CT01070,GOSHEN VOLUNTEER FIRE COMPANY,11/03/2015,37.0,0,NaN,150,"Outside rubbish fire, other.",N,...,NaN,NaN,936.0,"Vacant lot. Undeveloped land, not paved, may i...",E east street south,NaN,Goshen,06756,NaN,E east street south06756

In [43]:
# list(df.columns)

In [47]:
df2 = df.count().to_frame().reset_index()
df2.columns = ["index", "val"]
df2

                                index    val
0                      Reporting Year  34125
1          Fire Department Header Key  34125
2                Fire Department Name  34125
3                       Incident date  34125
4                     Incident Number  34125
5                     Exposure Number  34125
6             Fire Department Station  28748
7                  Incident Type Code  34125
8                       Incident Type  34125
9         Aid Given or Received Code   34125
10              Aid Given or Received  34125
11                   Number of Alarms  32780
12                Alarm Date and Time  34125
13              Arrival Date and Time  34125
14  Incident Controlled Date and Time   8505
15    Last Unit Cleared Date and Time  34125
16              Fire Department Shift  22099
17                    Actions Taken 1  33905
18                    Actions Taken 2  10028
19                    Actions Taken 3   3077
20    Number of Suppression Apparatus  34125
21    Number of Suppression Personnel  34125
22            Number of EMS Apparatus  34125
23            Number of EMS Personnel  34125
24          Number of Other Apparatus  34125
25          Number of Other Personnel  34125
26                     Property Value   8246
27                       Propery Loss  15177
28                     Contents Value   7939
29                      Contents Loss  15091
30                Fire Service Deaths  34078
31              Fire Service Injuries  34078
32                  Other Fire Deaths    147
33                Other Fire Injuries    147
34              Detector Alerted Code   5492
35         Detector Alerted Occupants   5492
36  Hazardous Materials Released Code   4821
37       Hazardous Materials Released   4821
38           Mized Use Property Codes   6188
39                 Mixed Use Property   6188
40                  Property Use Code  31569
41                       Property Use  31726
42            Incident Street Address  34021
43          Incident Apartment Number   2435
44                      Incident City  34125
45                  Incident Zip Code  34125
46                       Census Tract   7126
47                           Location  34125

In [48]:
# Check the names of all the columns and see if there are any rows with missing data
df2 = df.count().to_frame().reset_index()
df2.columns = ["index", "val"]
df_count = (len(df)/100) * 80
display(df2.head())
df_count

                        index    val
0              Reporting Year  34125
1  Fire Department Header Key  34125
2        Fire Department Name  34125
3               Incident date  34125
4             Incident Number  34125

27300.0

In [49]:
for i, row in df2.iterrows():
    if row["val"] < df_count:
        print(i, row["index"], row["val"])

14 Incident Controlled Date and Time 8505
16 Fire Department Shift 22099
18 Actions Taken 2 10028
19 Actions Taken 3 3077
26 Property Value 8246
27 Propery Loss 15177
28 Contents Value 7939
29 Contents Loss 15091
32 Other Fire Deaths 147
33 Other Fire Injuries 147
34 Detector Alerted Code 5492
35 Detector Alerted Occupants 5492
36 Hazardous Materials Released Code 4821
37 Hazardous Materials Released 4821
38 Mized Use Property Codes 6188
39 Mixed Use Property 6188
43 Incident Apartment Number 2435
46 Census Tract 7126

In [51]:
df.columns = ['Reporting Year',
 'Fire Department Header Key',
 'Fire Department Name',
 'Incident date',
 'Incident Number',
 'Exposure Number',
 'Fire Department Station',
 'Incident Type Code',
 'Incident Type',
 'Aid Given or Received Code',
 'Aid Given or Received',
 'Number of Alarms',
 'Alarm Date and Time',
 'Arrival Date and Time',
 'Incident Controlled Date and Time',
 'Last Unit Cleared Date and Time',
 'Fire Department Shift',
 'Actions Taken 1',
 'Actions Taken 2',
 'Actions Taken 3',
 'Number of Suppression Apparatus',
 'Number of Suppression Personnel',
 'Number of EMS Apparatus',
 'Number of EMS Personnel',
 'Number of Other Apparatus',
 'Number of Other Personnel',
 'Property Value',
 'Property Loss',
 'Contents Value',
 'Contents Loss',
 'Fire Service Deaths',
 'Fire Service Injuries',
 'Other Fire Deaths',
 'Other Fire Injuries',
 'Detector Alerted Code',
 'Detector Alerted Occupants',
 'Hazardous Materials Released Code',
 'Hazardous Materials Released',
 'Mized Use Property Codes',
 'Mixed Use Property',
 'Property Use Code',
 'Property Use',
 'Incident Street Address',
 'Incident Apartment Number',
 'Incident City',
 'Incident Zip Code',
 'Census Tract',
 'Location']

In [ ]:
df = df[['Reporting Year',
 'Fire Department Header Key',
 'Fire Department Name',
 'Incident date',
 'Incident Number',
 'Exposure Number',
 'Fire Department Station',
 'Incident Type Code',
 'Incident Type',
 'Aid Given or Received Code',
 'Aid Given or Received',
 'Number of Alarms',
 'Alarm Date and Time',
 'Arrival Date and Time',
 'Incident Controlled Date and Time',
 'Last Unit Cleared Date and Time',
 'Fire Department Shift',
 'Actions Taken 1',
 'Actions Taken 2',
 'Actions Taken 3',
 'Number of Suppression Apparatus',
 'Number of Suppression Personnel',
 'Number of EMS Apparatus',
 'Number of EMS Personnel',
 'Number of Other Apparatus',
 'Number of Other Personnel',
 'Property Value',
 'Property Loss',
 'Contents Value',
 'Contents Loss',
 'Fire Service Deaths',
 'Fire Service Injuries',
 'Other Fire Deaths',
 'Other Fire Injuries',
 'Detector Alerted Code',
 'Detector Alerted Occupants',
 'Hazardous Materials Released Code',
 'Hazardous Materials Released',
 'Mized Use Property Codes',
 'Mixed Use Property',
 'Property Use Code',
 'Property Use',
 'Incident Street Address',
 'Incident Apartment Number',
 'Incident City',
 'Incident Zip Code',
 'Census Tract',
 'Location']]

In [ ]:
# Rename mistyped columns "Aid Given or Received Code " and "Propery Loss"

In [ ]:
# Reduce to columns: Reporting Year, Fire Department Name, Incident date, Incident Type,
# Aid Given or Received Code, Aid Given or Received, Number of Alarms, Alarm Date and Time,
# Arrival Date and Time, Last Unit Cleared Date and Time, Actions Taken 1, Actions Taken 2,
# Actions Taken 3, Property Value, Property Loss, Contents Value, Contents Loss,
# Fire Service Deaths, Fire Service Injuries, Other Fire Deaths, Other Fire Injuries,
# Property Use, Incident Street Address, Incident Apartment Number, Incident City, Incident Zip Code

In [55]:
# Fill NAs for columns "Actions Taken 1", "Actions Taken 2", "Actions Taken 3", 
# and "Incident Apartment Number" with ''
# Fill NAs for columns "Other Fire Deaths", "Other Fire Injuries",
# "Property Loss", and "Contents Loss" with 0
df["Actions Taken 1"] = df["Actions Taken 1"].fillna("")

In [ ]:
# Remove remaining rows with missing data

In [ ]:
# Filter data to incidents that caused Property or Contents Loss

In [ ]:
# Count how many incidents occured in each city

In [ ]:
# Convert the city_counts Series into a DataFrame

In [ ]:
# Convert the column name into "Sum of Loss Incidents"

In [ ]:
# Calculate the number of deaths from fire incidents where loss occurred

In [ ]:
# Want to calculate the fire department response time? There is a problem
# Problem can be seen by examining datatypes within the DataFrame

In [ ]:
# Convert relevant date columns to datetime

In [ ]:
# Now it is possible to find the response time in seconds
# Hint: create a new column for "Response Time (seconds)" and use .dt.total_seconds()
# to calculate the seconds

In [ ]:
# Check data for columns of your choosing