In [1]:
import pandas as pd
df = pd.read_csv("Resources/DataOne.csv", index_col="id")
# df = pd.read_csv("Resources/DataOne.csv", encoding="utf-8")
df

                full_name                       email      gender
id
1    Jacquenette Nesterov  jnesterov0@squarespace.com      female
2         Leanora Cashell       lcashell1@blogger.com        male
3           Arley Medford     amedford2@newyorker.com        male
4       Rafaello Crawshaw     rcrawshaw3@multiply.com        male
5       Karalee Hallaways      khallaways4@uol.com.br  non-binary
..                    ...                         ...         ...
96        Lucienne McFaul            lmcfaul2n@vk.com      female
97      Sheelagh Chretien       schretien2o@google.it        male
98           Ransom Smyth      rsmyth2p@geocities.com        male
99         Mauricio Goane             mgoane2q@nhs.uk        male
100         Iain Stephens   istephens2r@newyorker.com        male

[100 rows x 3 columns]

In [2]:
pip install xlwt

Collecting xlwt
  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
     -------------------------------------- 100.0/100.0 kB 2.9 MB/s eta 0:00:00
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
df.to_excel("new_data.xls")

C:\Users\Joel\AppData\Local\Temp\ipykernel_10380\1268185285.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.to_excel("new_data.xls")

In [4]:
# Dependencies
import pandas as pd

In [5]:
# Store filepath in a variable
file_one = "Resources/DataOne.csv"

In [6]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [7]:
# Show just the header
file_one_df.head()

   id             full_name                       email      gender
0   1  Jacquenette Nesterov  jnesterov0@squarespace.com      female
1   2       Leanora Cashell       lcashell1@blogger.com        male
2   3         Arley Medford     amedford2@newyorker.com        male
3   4     Rafaello Crawshaw     rcrawshaw3@multiply.com        male
4   5     Karalee Hallaways      khallaways4@uol.com.br  non-binary

In [8]:
# Show a single column
file_one_df["full_name"].head()

0    Jacquenette Nesterov
1         Leanora Cashell
2           Arley Medford
3       Rafaello Crawshaw
4       Karalee Hallaways
Name: full_name, dtype: object

In [9]:
# Show mulitple specific columns--note the extra brackets
file_one_df[["full_name", "email"]].head()

              full_name                       email
0  Jacquenette Nesterov  jnesterov0@squarespace.com
1       Leanora Cashell       lcashell1@blogger.com
2         Arley Medford     amedford2@newyorker.com
3     Rafaello Crawshaw     rcrawshaw3@multiply.com
4     Karalee Hallaways      khallaways4@uol.com.br

In [10]:
# Head does not change the DataFrame--it only displays it
file_one_df.head()

   id             full_name                       email      gender
0   1  Jacquenette Nesterov  jnesterov0@squarespace.com      female
1   2       Leanora Cashell       lcashell1@blogger.com        male
2   3         Arley Medford     amedford2@newyorker.com        male
3   4     Rafaello Crawshaw     rcrawshaw3@multiply.com        male
4   5     Karalee Hallaways      khallaways4@uol.com.br  non-binary

In [11]:
# Export file as a CSV, without the Pandas index, but with the header
file_one_df.to_csv("Output/fileOne.csv", index=False, header=True)